<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0 //EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- The content of element type "configuration" must match "(properties?,settings?,typeAliases?,typeHandlers?,
  objectFactory?,objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)". -->

  <!-- 引入外部配置 -->
  <properties resource="jdbc.properties"/>

  <settings>
    <setting name="logImpl" value="LOG4J"/>
    <!-- 将下划线自动映射为驼峰 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <!-- 开启延迟加载 -->
    <setting name="lazyLoadingEnabled" value="true"/>
  </settings>

  <!-- 设置类型别名
  类型别名不区分大小写；
  若不手动设置 alias，则使用默认别名，为其类名且不区分大小写
  -->
<!--  <typeAliases>-->
<!--    <typeAlias type="com.kekwy.mybatis.pojo.User" alias="User"/>-->
<!--    &lt;!&ndash;  以包为单位设置包中所有类的默认别名  &ndash;&gt;-->
<!--    <package name="com.kekwy.mybatis.pojo"/>-->
<!--  </typeAliases>-->

  <!-- 设置连接数据库的环境
    default：设置使用的环境
  -->
  <environments default="development">
    <!--  id：表示连接数据库的环境的唯一标识，不能重复  -->
    <environment id="development">
      <!--   设置事务管理方式
          type：JDBC | MANAGED
          JDBC：表示当前环境中，执行 SQL 时，使用的是 JDBC 中原生的事务管理方式，事务的提交或回滚需要手动管理。
          MANAGED：被管理，例如 Spring
      -->
      <transactionManager type="JDBC"/>
      <!--   配置数据源
         type：数据源类型
         POOLED：使用数据库连接池缓存数据库连接
         UNPOOLED：不使用数据库连接池
         JNDI：使用上下文中的数据源
         -->
      <dataSource type="POOLED">
        <!--        驱动-->
        <property name="driver" value="${jdbc.driver}"/>
        <!--        地址-->
        <property name="url" value="${jdbc.url}"/>
        <!--        用户名-->
        <property name="username" value="${jdbc.username}"/>
        <!--        密码-->
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 引入映射文件 -->
  <mappers>
    <!--    <mapper resource="mappers/UserMapper.xml"/>-->
    <!--  将指定包中的所有 mapper 引入
      1. mapper 接口所在的包要和映射文件所在的包一致
      2. mapper 接口要和映射文件的名字一致。
    -->
    <package name="com.kekwy.sqlni.example.mapper"/>
  </mappers>
</configuration>